
<div class="login">
  <h2 class="login-header"><button (click)="logout()">
    Logout
  </button></h2>

</div>


<div class="card-deck mb-3 text-center">
  <div class="card mb-4 shadow-sm">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Length</h4>
    </div>
    <div class="card-body">

        <form [formGroup]="lengthForm" (ngSubmit)="lengthSubmit()">

          <div class="row">
            <div class="col-md-2">Value</div>
            <div class="col-md-4">
              <input type="text" placeholder="value" (ngModel)="value"  formControlName="value">
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              From
            </div>
                <div class="col-md-4">
                  <select (ngModel)="from" formControlName="from">
                    <option [ngValue]="length.code" *ngFor="let length of lengths">{{length.name}}</option>
                  </select>
                </div>
          </div>
          <div class="row">
            <div class="col-md-2">To</div>
            <div class="col-md-4">
              <select (ngModel)="to" formControlName="to">
                <option [ngValue]="length.code" *ngFor="let length of lengths">{{length.name}}</option>
              </select>
            </div>
          </div>

          <input type="hidden" (ngModel)="convertUnit">
          <div class="row mt-2">
            <div class="col-md-2">&nbsp;</div>
            <div class="col-md-4">
            <input type="submit" value="Convert">
            </div>
          </div>

          <div class="row mt-2">
            <button type="button"   class="btn btn-lg btn-block btn-outline-primary">{{lengthResult}} </button>
          </div>

        </form>


    </div>
  </div>



<div class="card mb-4 shadow-sm">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Mass</h4>
    </div>
    <div class="card-body">
      <form [formGroup]="masssForm"  (ngSubmit)="massSubmit()">

        <div class="row">
          <div class="col-md-2">Value</div>
          <div class="col-md-4">
            <input type="text" placeholder="value" formControlName="value">
          </div>
        </div>

        <div class="row">
          <div class="col-md-2">
            From
          </div>
          <div class="col-md-4">
            <select (ngModel)="from" formControlName="from">
              <option [ngValue]="mass.code" *ngFor="let mass of masss">{{mass.name}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">To</div>
          <div class="col-md-4">
            <select (ngModel)="to" formControlName="to">
              <option [ngValue]="mass.code" *ngFor="let mass of masss">{{mass.name}}</option>
            </select>
          </div>
        </div>

        <input type="hidden" (ngModel)="convertUnit">
        <div class="row mt-2">
          <div class="col-md-2">&nbsp;</div>
          <div class="col-md-4">
            <input type="submit" value="Convert">
          </div>
        </div>

        <div class="row mt-2">
          <button type="button"   class="btn btn-lg btn-block btn-outline-primary">{{massResult}} </button>
        </div>

      </form>


    </div>
  </div>


 <div class="card mb-4 shadow-sm">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Temperature</h4>
    </div>
    <div class="card-body">
      <form [formGroup]="temperaturesForm" (ngSubmit)="temperatureSubmit()">

        <div class="row">
          <div class="col-md-2">Value</div>
          <div class="col-md-4">
            <input type="text" placeholder="value" formControlName="value">
          </div>
        </div>

        <div class="row">
          <div class="col-md-2">
            From
          </div>
          <div class="col-md-4">
            <select (ngModel)="from" formControlName="from">
              <option [ngValue]="temperature.code" *ngFor="let temperature of temperatures">{{temperature.name}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">To</div>
          <div class="col-md-4">
            <select (ngModel)="to" formControlName="to">
              <option [ngValue]="temperature.code" *ngFor="let temperature of temperatures">{{temperature.name}}</option>
            </select>
          </div>
        </div>

        <input type="hidden" (ngModel)="convertUnit">
        <div class="row mt-2">
          <div class="col-md-2">&nbsp;</div>
          <div class="col-md-4">
            <input type="submit" value="Convert">
          </div>
        </div>

        <div class="row mt-2">
          <button type="button"   class="btn btn-lg btn-block btn-outline-primary">{{temperatureResult}} </button>
        </div>
      </form>


    </div>
  </div>
</div>

